@import '~bootstrap/scss/bootstrap';

// Header
header{
    height: 80px;
}

.my_text:hover{
    color: white;
}

.btn_logout{
    position: relative;
    margin-left: 40px;
    &::before{
        content: '';
        display: inline-block;
        height: 80px;
        width: 1px;
        background-color: lightgray;
        position: absolute;
        top: -18px;
        left: -20px;
    }
    &:hover a{
        color: white !important;
    }
}


// Aside
.aside_bar{
    background: rgb(158,101,196);
    background: linear-gradient(180deg, rgba(71, 37, 95, 0.9) 0%, rgba(71, 37, 95,0.6) 100%);
}
